
<div class="container-fluid content-wrapper">
    <div class="row nav-banner-wrapper">
        <div class="container">
            <div class="row">

                <div class="col-sm-12 col-md-12 col-lg-12" style="margin:0;padding:0;">

                    <div class="bs-example">
                        <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel" style="height:400px;">
                            <!-- Carousel indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>

                            </ol>
                            <!-- Wrapper for carousel items -->
                            <div class="carousel-inner" style="height:400px;">


                                <div class="item active">
                                    <img src="https://www.techrepublicbd.com/public/uploads/sliders/moVywhoYOQA8FmCjnIuTZM41pDg6t7Rz3PJg8fTG.jpeg" alt="First Slide">
                                </div>
                                <div class="item">
                                    <img src="https://www.techrepublicbd.com/public/uploads/sliders/xATJSyct6XziYUuyYiR7eoxO1Q8yZnRmX64FTKWG.jpeg" alt="First Slide">
                                </div>
                            </div>
                            <!-- Carousel controls -->
                            <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="carousel-control right" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="gap-make"></div>

<div class='container'>
    <div class='row'>
        <div class='column'>
            <div class='col-lg-12 col-md-12 col-sm-12 zero'>
                <div class='home-block-container'>
                    <div class='block-heading-container'>
                        <div class='block-headig-left-bar'></div>
                        <div class='block-headig-text-bar'> New Products</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='container'>
    <div class='row'>
        <div class='column'>
            <div class='col-lg-3 col-md-3 col-sm-12 zero'>
                <div class='home-block-container'>
                    <a href='/product/9/Nokia-Lumia-930-32-GB--white-orange-Unlocked-Smartphone-good-condition'>
                        <div class='block-image-container'>
                            <div class='block-image'>
                                <img src='https://www.startech.com.bd/image/catalog/home/collage/group-2-271x350/eset backpack banner.jpg' />

                            </div>
                            <div class='block-title'>
                                Western Digital My Passport 1TB USB 3.0 Black Portable Hard Disk Drive
                            </div><div class='block-price'>
                                <span>15,000</span>
                            </div><div class='block-buy'>
                                <button class='block-buy-now'>Buy Now</button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class='col-lg-3 col-md-3 col-sm-12 zero'>
                <div class='home-block-container'>
                    <a href='#'>
                        <div class='block-image-container'>
                            <div class='block-image'>
                                <img src='https://www.techrepublicbd.com/public/uploads/products/photos/q2OeVa3kNDRV8Zk6rgQrEqJ6gHb1Rs3qPsFQPuUl.jpeg' />
                            </div>
                            <div class='block-title'>Western Digital My Passport 1TB USB 3.0 Black Portable Hard Disk Drive</div>
                            <div class='block-price'><span>35,000</span></div><div class='block-buy'>
                                <button class='block-buy-now'>Buy Now</button>
                            </div>
                        </div>
                    </a>
                </div>
            </div><div class='col-lg-3 col-md-3 col-sm-12 zero'>
                <div class='home-block-container'>
                    <a href='#'>
                        <div class='block-image-container'>
                            <div class='block-image'>
                                <img src='https://www.techrepublicbd.com/public/uploads/products/thumbnail/WNY3CNAwtEHaGCGWJqCEnYZNoTO3kXev8RonvFL0.jpeg' />
                            </div>
                            <div class='block-title'>Samsung Galaxy S6 Active SM-G890A 32GB (AT&T)</div>
                            <div class='block-price'><span>50,000</span></div>
                            <div class='block-buy'><button class='block-buy-now'>Buy Now</button></div>
                        </div>
                    </a>
                </div>
            </div><div class='col-lg-3 col-md-3 col-sm-12 zero'><div class='home-block-container'><a href='/product/6/-16GB--Black-Unlocked-Smartphone-NEW'><div class='block-image-container'><div class='block-image'><img src='https://www.techrepublicbd.com/public/uploads/products/thumbnail/jCC34OVOFQmsSuaVB8SU9CgBjEB1Lzv9IqlOQ3Na.jpeg' /></div><div class='block-title'> 16GB - Black (Unlocked) Smartphone NEW</div><div class='block-price'><span>45,000</span></div><div class='block-buy'><button class='block-buy-now'>Buy Now</button></div></div></a></div></div>
        </div>
    </div>
</div><div class='gap-make'></div>
<div class='container'>
    <div class='row'>
        <div class='column'>
            <div class='col-lg-12 col-md-12 col-sm-12 zero'>
                <div class='home-block-container'>
                    <div class='block-heading-container'>
                        <div class='block-headig-left-bar'></div><div class='block-headig-text-bar'>
                            <a href='/category/2/7/15/iPhone'>Monitor </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='container'>
    <div class='row'>
        <div class='column'>
            <div class='col-lg-3 col-md-3 col-sm-12 zero'>
                <div class='home-block-container'>
                    <a href='/product/9/Nokia-Lumia-930-32-GB--white-orange-Unlocked-Smartphone-good-condition'>
                        <div class='block-image-container'>
                            <div class='block-image'>
                                <img src='https://www.startech.com.bd/image/catalog/home/collage/group-2-271x350/eset backpack banner.jpg' />

                            </div>
                            <div class='block-title'>
                                Western Digital My Passport 1TB USB 3.0 Black Portable Hard Disk Drive
                            </div><div class='block-price'>
                                <span>15,000</span>
                            </div><div class='block-buy'>
                                <button class='block-buy-now'>Buy Now</button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class='col-lg-3 col-md-3 col-sm-12 zero'>
                <div class='home-block-container'>
                    <a href='#'>
                        <div class='block-image-container'>
                            <div class='block-image'>
                                <img src='https://www.techrepublicbd.com/public/uploads/products/photos/q2OeVa3kNDRV8Zk6rgQrEqJ6gHb1Rs3qPsFQPuUl.jpeg' />
                            </div>
                            <div class='block-title'>Western Digital My Passport 1TB USB 3.0 Black Portable Hard Disk Drive</div>
                            <div class='block-price'><span>35,000</span></div><div class='block-buy'>
                                <button class='block-buy-now'>Buy Now</button>
                            </div>
                        </div>
                    </a>
                </div>
            </div><div class='col-lg-3 col-md-3 col-sm-12 zero'>
                <div class='home-block-container'>
                    <a href='#'>
                        <div class='block-image-container'>
                            <div class='block-image'>
                                <img src='https://www.techrepublicbd.com/public/uploads/products/thumbnail/WNY3CNAwtEHaGCGWJqCEnYZNoTO3kXev8RonvFL0.jpeg' />
                            </div>
                            <div class='block-title'>Samsung Galaxy S6 Active SM-G890A 32GB (AT&T)</div>
                            <div class='block-price'><span>50,000</span></div>
                            <div class='block-buy'><button class='block-buy-now'>Buy Now</button></div>
                        </div>
                    </a>
                </div>
            </div><div class='col-lg-3 col-md-3 col-sm-12 zero'><div class='home-block-container'><a href='/product/6/-16GB--Black-Unlocked-Smartphone-NEW'><div class='block-image-container'><div class='block-image'><img src='https://www.techrepublicbd.com/public/uploads/products/thumbnail/jCC34OVOFQmsSuaVB8SU9CgBjEB1Lzv9IqlOQ3Na.jpeg' /></div><div class='block-title'> 16GB - Black (Unlocked) Smartphone NEW</div><div class='block-price'><span>45,000</span></div><div class='block-buy'><button class='block-buy-now'>Buy Now</button></div></div></a></div></div>
        </div>
    </div>
</div>