<app-header></app-header>
<!-- <div class="container-fluid breadcrumb-container">
    <app-productbreadcrum></app-productbreadcrum>
</div> -->
<div class="container image-deal-detail-bolck">
    <div class="row">
        <div class="column">
            <div class="col-md-6 col-lg-6 zero" style="border-right:solid 2px #efefef;">
                <app-productimage></app-productimage>
             
            </div>

            <div class="col-md-6 col-lg-6 zero">
                <app-productinfo></app-productinfo>
            </div>

            
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="column">
            <div class="col-md-9 col-lg-9 zero">
             <app-productdetails></app-productdetails>
            </div>
            <div class="col-lg-3 left-padding-0 col-md-12">
             <app-relatedproduct></app-relatedproduct>
        </div>
        </div>
    </div>
</div>
<app-footer></app-footer>