<div class="category_product_container">
                                
    <div class="col-md-4 col-lg-4 category_zero">
            <div class="category_product">
               <a href="#">
                        <div class="category_image_block">
                            <img class="category-images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/monitor/acer/eb192q/eb192q-228x228.jpg" />
                         
                        </div>
                        <div class="categry_block_title">
                            <span>Acer Aopen 19CX1Q 18.5-inch LED Monitor</span>
                        </div>
                        <div class="categry_block_product_Id">
                            <span>44545</span>
                        </div>
                        <div class="categry_block_price">
                            <span>TK.22323</span>
                        </div>
                </a>
                
                    <div class="block-buy">
                        <button class="block-buy-now"> Buy Now</button>
                    </div>
              
                    <div class='block-buy-none'>
                        <span class='block-buy-now-none'></span>
                    </div>
                

            </div>
                      
                

            </div>
              <div class="col-md-4 col-lg-4 category_zero">
            <div class="category_product">
               <a href="#">
                        <div class="category_image_block">
                            <img class="category-images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/monitor/acer/eb192q/eb192q-228x228.jpg" />
                         
                        </div>
                        <div class="categry_block_title">
                            <span>Acer Aopen 19CX1Q 18.5-inch LED Monitor</span>
                        </div>
                        <div class="categry_block_product_Id">
                            <span>44545</span>
                        </div>
                        <div class="categry_block_price">
                            <span>TK.22323</span>
                        </div>
                </a>
                
                    <div class="block-buy">
                        <button class="block-buy-now"> Buy Now</button>
                    </div>
              
                    <div class='block-buy-none'>
                        <span class='block-buy-now-none'></span>
                    </div>
                

            </div>
                      
                

            </div>  <div class="col-md-4 col-lg-4 category_zero">
            <div class="category_product">
               <a href="#">
                        <div class="category_image_block">
                            <img class="category-images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/monitor/acer/eb192q/eb192q-228x228.jpg" />
                         
                        </div>
                        <div class="categry_block_title">
                            <span>Acer Aopen 19CX1Q 18.5-inch LED Monitor</span>
                        </div>
                        <div class="categry_block_product_Id">
                            <span>44545</span>
                        </div>
                        <div class="categry_block_price">
                            <span>TK.22323</span>
                        </div>
                </a>
                
                    <div class="block-buy">
                        <button class="block-buy-now"> Buy Now</button>
                    </div>
              
                    <div class='block-buy-none'>
                        <span class='block-buy-now-none'></span>
                    </div>
                

            </div>
                      
                

            </div>  <div class="col-md-4 col-lg-4 category_zero">
            <div class="category_product">
               <a href="#">
                        <div class="category_image_block">
                            <img class="category-images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/monitor/acer/eb192q/eb192q-228x228.jpg" />
                         
                        </div>
                        <div class="categry_block_title">
                            <span>Acer Aopen 19CX1Q 18.5-inch LED Monitor</span>
                        </div>
                        <div class="categry_block_product_Id">
                            <span>44545</span>
                        </div>
                        <div class="categry_block_price">
                            <span>TK.22323</span>
                        </div>
                </a>
                
                    <div class="block-buy">
                        <button class="block-buy-now"> Buy Now</button>
                    </div>
              
                    <div class='block-buy-none'>
                        <span class='block-buy-now-none'></span>
                    </div>
                

            </div>
                      
                

            </div>  <div class="col-md-4 col-lg-4 category_zero">
            <div class="category_product">
               <a href="#">
                        <div class="category_image_block">
                            <img class="category-images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/monitor/acer/eb192q/eb192q-228x228.jpg" />
                         
                        </div>
                        <div class="categry_block_title">
                            <span>Acer Aopen 19CX1Q 18.5-inch LED Monitor</span>
                        </div>
                        <div class="categry_block_product_Id">
                            <span>44545</span>
                        </div>
                        <div class="categry_block_price">
                            <span>TK.22323</span>
                        </div>
                </a>
                
                    <div class="block-buy">
                        <button class="block-buy-now"> Buy Now</button>
                    </div>
              
                    <div class='block-buy-none'>
                        <span class='block-buy-now-none'></span>
                    </div>
                

            </div>
                      
                

            </div>  <div class="col-md-4 col-lg-4 category_zero">
            <div class="category_product">
               <a href="#">
                        <div class="category_image_block">
                            <img class="category-images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/monitor/acer/eb192q/eb192q-228x228.jpg" />
                         
                        </div>
                        <div class="categry_block_title">
                            <span>Acer Aopen 19CX1Q 18.5-inch LED Monitor</span>
                        </div>
                        <div class="categry_block_product_Id">
                            <span>44545</span>
                        </div>
                        <div class="categry_block_price">
                            <span>TK.22323</span>
                        </div>
                </a>
                
                    <div class="block-buy">
                        <button class="block-buy-now"> Buy Now</button>
                    </div>
              
                    <div class='block-buy-none'>
                        <span class='block-buy-now-none'></span>
                    </div>
                

            </div>
                      
                

            </div>  <div class="col-md-4 col-lg-4 category_zero">
            <div class="category_product">
               <a href="#">
                        <div class="category_image_block">
                            <img class="category-images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/monitor/acer/eb192q/eb192q-228x228.jpg" />
                         
                        </div>
                        <div class="categry_block_title">
                            <span>Acer Aopen 19CX1Q 18.5-inch LED Monitor</span>
                        </div>
                        <div class="categry_block_product_Id">
                            <span>44545</span>
                        </div>
                        <div class="categry_block_price">
                            <span>TK.22323</span>
                        </div>
                </a>
                
                    <div class="block-buy">
                        <button class="block-buy-now"> Buy Now</button>
                    </div>
              
                    <div class='block-buy-none'>
                        <span class='block-buy-now-none'></span>
                    </div>
                

            </div>
                      
                

            </div>  <div class="col-md-4 col-lg-4 category_zero">
            <div class="category_product">
               <a href="#">
                        <div class="category_image_block">
                            <img class="category-images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/monitor/acer/eb192q/eb192q-228x228.jpg" />
                         
                        </div>
                        <div class="categry_block_title">
                            <span>Acer Aopen 19CX1Q 18.5-inch LED Monitor</span>
                        </div>
                        <div class="categry_block_product_Id">
                            <span>44545</span>
                        </div>
                        <div class="categry_block_price">
                            <span>TK.22323</span>
                        </div>
                </a>
                
                    <div class="block-buy">
                        <button class="block-buy-now"> Buy Now</button>
                    </div>
              
                    <div class='block-buy-none'>
                        <span class='block-buy-now-none'></span>
                    </div>
                

            </div>
                      
                

            </div>  <div class="col-md-4 col-lg-4 category_zero">
            <div class="category_product">
               <a href="#">
                        <div class="category_image_block">
                            <img class="category-images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/monitor/acer/eb192q/eb192q-228x228.jpg" />
                         
                        </div>
                        <div class="categry_block_title">
                            <span>Acer Aopen 19CX1Q 18.5-inch LED Monitor</span>
                        </div>
                        <div class="categry_block_product_Id">
                            <span>44545</span>
                        </div>
                        <div class="categry_block_price">
                            <span>TK.22323</span>
                        </div>
                </a>
                
                    <div class="block-buy">
                        <button class="block-buy-now"> Buy Now</button>
                    </div>
              
                    <div class='block-buy-none'>
                        <span class='block-buy-now-none'></span>
                    </div>
                

            </div>
                      
                

            </div>  <div class="col-md-4 col-lg-4 category_zero">
            <div class="category_product">
               <a href="#">
                        <div class="category_image_block">
                            <img class="category-images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/monitor/acer/eb192q/eb192q-228x228.jpg" />
                         
                        </div>
                        <div class="categry_block_title">
                            <span>Acer Aopen 19CX1Q 18.5-inch LED Monitor</span>
                        </div>
                        <div class="categry_block_product_Id">
                            <span>44545</span>
                        </div>
                        <div class="categry_block_price">
                            <span>TK.22323</span>
                        </div>
                </a>
                
                    <div class="block-buy">
                        <button class="block-buy-now"> Buy Now</button>
                    </div>
              
                    <div class='block-buy-none'>
                        <span class='block-buy-now-none'></span>
                    </div>
                

            </div>
                      
                

            </div>  <div class="col-md-4 col-lg-4 category_zero">
            <div class="category_product">
               <a href="#">
                        <div class="category_image_block">
                            <img class="category-images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/monitor/acer/eb192q/eb192q-228x228.jpg" />
                         
                        </div>
                        <div class="categry_block_title">
                            <span>Acer Aopen 19CX1Q 18.5-inch LED Monitor</span>
                        </div>
                        <div class="categry_block_product_Id">
                            <span>44545</span>
                        </div>
                        <div class="categry_block_price">
                            <span>TK.22323</span>
                        </div>
                </a>
                
                    <div class="block-buy">
                        <button class="block-buy-now"> Buy Now</button>
                    </div>
              
                    <div class='block-buy-none'>
                        <span class='block-buy-now-none'></span>
                    </div>
                

            </div>
                      
                

            </div>  <div class="col-md-4 col-lg-4 category_zero">
            <div class="category_product">
               <a href="#">
                        <div class="category_image_block">
                            <img class="category-images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/monitor/acer/eb192q/eb192q-228x228.jpg" />
                         
                        </div>
                        <div class="categry_block_title">
                            <span>Acer Aopen 19CX1Q 18.5-inch LED Monitor</span>
                        </div>
                        <div class="categry_block_product_Id">
                            <span>44545</span>
                        </div>
                        <div class="categry_block_price">
                            <span>TK.22323</span>
                        </div>
                </a>
                
                    <div class="block-buy">
                        <button class="block-buy-now"> Buy Now</button>
                    </div>
              
                    <div class='block-buy-none'>
                        <span class='block-buy-now-none'></span>
                    </div>
                

            </div>
                      
                

            </div>  <div class="col-md-4 col-lg-4 category_zero">
            <div class="category_product">
               <a href="#">
                        <div class="category_image_block">
                            <img class="category-images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/monitor/acer/eb192q/eb192q-228x228.jpg" />
                         
                        </div>
                        <div class="categry_block_title">
                            <span>Acer Aopen 19CX1Q 18.5-inch LED Monitor</span>
                        </div>
                        <div class="categry_block_product_Id">
                            <span>44545</span>
                        </div>
                        <div class="categry_block_price">
                            <span>TK.22323</span>
                        </div>
                </a>
                
                    <div class="block-buy">
                        <button class="block-buy-now"> Buy Now</button>
                    </div>
              
                    <div class='block-buy-none'>
                        <span class='block-buy-now-none'></span>
                    </div>
                

            </div>
                      
                

            </div>  <div class="col-md-4 col-lg-4 category_zero">
            <div class="category_product">
               <a href="#">
                        <div class="category_image_block">
                            <img class="category-images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/monitor/acer/eb192q/eb192q-228x228.jpg" />
                         
                        </div>
                        <div class="categry_block_title">
                            <span>Acer Aopen 19CX1Q 18.5-inch LED Monitor</span>
                        </div>
                        <div class="categry_block_product_Id">
                            <span>44545</span>
                        </div>
                        <div class="categry_block_price">
                            <span>TK.22323</span>
                        </div>
                </a>
                
                    <div class="block-buy">
                        <button class="block-buy-now"> Buy Now</button>
                    </div>
              
                    <div class='block-buy-none'>
                        <span class='block-buy-now-none'></span>
                    </div>
                

            </div>
                      
                

            </div>  <div class="col-md-4 col-lg-4 category_zero">
            <div class="category_product">
               <a href="#">
                        <div class="category_image_block">
                            <img class="category-images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/monitor/acer/eb192q/eb192q-228x228.jpg" />
                         
                        </div>
                        <div class="categry_block_title">
                            <span>Acer Aopen 19CX1Q 18.5-inch LED Monitor</span>
                        </div>
                        <div class="categry_block_product_Id">
                            <span>44545</span>
                        </div>
                        <div class="categry_block_price">
                            <span>TK.22323</span>
                        </div>
                </a>
                
                    <div class="block-buy">
                        <button class="block-buy-now"> Buy Now</button>
                    </div>
              
                    <div class='block-buy-none'>
                        <span class='block-buy-now-none'></span>
                    </div>
                

            </div>
                      
                

            </div>  <div class="col-md-4 col-lg-4 category_zero">
            <div class="category_product">
               <a href="#">
                        <div class="category_image_block">
                            <img class="category-images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/monitor/acer/eb192q/eb192q-228x228.jpg" />
                         
                        </div>
                        <div class="categry_block_title">
                            <span>Acer Aopen 19CX1Q 18.5-inch LED Monitor</span>
                        </div>
                        <div class="categry_block_product_Id">
                            <span>44545</span>
                        </div>
                        <div class="categry_block_price">
                            <span>TK.22323</span>
                        </div>
                </a>
                
                    <div class="block-buy">
                        <button class="block-buy-now"> Buy Now</button>
                    </div>
              
                    <div class='block-buy-none'>
                        <span class='block-buy-now-none'></span>
                    </div>
                

            </div>
                      
                

            </div>  <div class="col-md-4 col-lg-4 category_zero">
            <div class="category_product">
               <a href="#">
                        <div class="category_image_block">
                            <img class="category-images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/monitor/acer/eb192q/eb192q-228x228.jpg" />
                         
                        </div>
                        <div class="categry_block_title">
                            <span>Acer Aopen 19CX1Q 18.5-inch LED Monitor</span>
                        </div>
                        <div class="categry_block_product_Id">
                            <span>44545</span>
                        </div>
                        <div class="categry_block_price">
                            <span>TK.22323</span>
                        </div>
                </a>
                
                    <div class="block-buy">
                        <button class="block-buy-now"> Buy Now</button>
                    </div>
              
                    <div class='block-buy-none'>
                        <span class='block-buy-now-none'></span>
                    </div>
                

            </div>
                      
                

            </div>  <div class="col-md-4 col-lg-4 category_zero">
            <div class="category_product">
               <a href="#">
                        <div class="category_image_block">
                            <img class="category-images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/monitor/acer/eb192q/eb192q-228x228.jpg" />
                         
                        </div>
                        <div class="categry_block_title">
                            <span>Acer Aopen 19CX1Q 18.5-inch LED Monitor</span>
                        </div>
                        <div class="categry_block_product_Id">
                            <span>44545</span>
                        </div>
                        <div class="categry_block_price">
                            <span>TK.22323</span>
                        </div>
                </a>
                
                    <div class="block-buy">
                        <button class="block-buy-now"> Buy Now</button>
                    </div>
              
                    <div class='block-buy-none'>
                        <span class='block-buy-now-none'></span>
                    </div>
                

            </div>
                      
                

            </div>  <div class="col-md-4 col-lg-4 category_zero">
            <div class="category_product">
               <a href="#">
                        <div class="category_image_block">
                            <img class="category-images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/monitor/acer/eb192q/eb192q-228x228.jpg" />
                         
                        </div>
                        <div class="categry_block_title">
                            <span>Acer Aopen 19CX1Q 18.5-inch LED Monitor</span>
                        </div>
                        <div class="categry_block_product_Id">
                            <span>44545</span>
                        </div>
                        <div class="categry_block_price">
                            <span>TK.22323</span>
                        </div>
                </a>
                
                    <div class="block-buy">
                        <button class="block-buy-now"> Buy Now</button>
                    </div>
              
                    <div class='block-buy-none'>
                        <span class='block-buy-now-none'></span>
                    </div>
                

            </div>
                      
                

            </div>  <div class="col-md-4 col-lg-4 category_zero">
            <div class="category_product">
               <a href="#">
                        <div class="category_image_block">
                            <img class="category-images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/monitor/acer/eb192q/eb192q-228x228.jpg" />
                         
                        </div>
                        <div class="categry_block_title">
                            <span>Acer Aopen 19CX1Q 18.5-inch LED Monitor</span>
                        </div>
                        <div class="categry_block_product_Id">
                            <span>44545</span>
                        </div>
                        <div class="categry_block_price">
                            <span>TK.22323</span>
                        </div>
                </a>
                
                    <div class="block-buy">
                        <button class="block-buy-now"> Buy Now</button>
                    </div>
              
                    <div class='block-buy-none'>
                        <span class='block-buy-now-none'></span>
                    </div>
                

            </div>
                      
                

            </div>  <div class="col-md-4 col-lg-4 category_zero">
            <div class="category_product">
               <a href="#">
                        <div class="category_image_block">
                            <img class="category-images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/monitor/acer/eb192q/eb192q-228x228.jpg" />
                         
                        </div>
                        <div class="categry_block_title">
                            <span>Acer Aopen 19CX1Q 18.5-inch LED Monitor</span>
                        </div>
                        <div class="categry_block_product_Id">
                            <span>44545</span>
                        </div>
                        <div class="categry_block_price">
                            <span>TK.22323</span>
                        </div>
                </a>
                
                    <div class="block-buy">
                        <button class="block-buy-now"> Buy Now</button>
                    </div>
              
                    <div class='block-buy-none'>
                        <span class='block-buy-now-none'></span>
                    </div>
                

            </div>
                      
                

            </div>  <div class="col-md-4 col-lg-4 category_zero">
            <div class="category_product">
               <a href="#">
                        <div class="category_image_block">
                            <img class="category-images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/monitor/acer/eb192q/eb192q-228x228.jpg" />
                         
                        </div>
                        <div class="categry_block_title">
                            <span>Acer Aopen 19CX1Q 18.5-inch LED Monitor</span>
                        </div>
                        <div class="categry_block_product_Id">
                            <span>44545</span>
                        </div>
                        <div class="categry_block_price">
                            <span>TK.22323</span>
                        </div>
                </a>
                
                    <div class="block-buy">
                        <button class="block-buy-now"> Buy Now</button>
                    </div>
              
                    <div class='block-buy-none'>
                        <span class='block-buy-now-none'></span>
                    </div>
                

            </div>
                      
                

            </div>  <div class="col-md-4 col-lg-4 category_zero">
            <div class="category_product">
               <a href="#">
                        <div class="category_image_block">
                            <img class="category-images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/monitor/acer/eb192q/eb192q-228x228.jpg" />
                         
                        </div>
                        <div class="categry_block_title">
                            <span>Acer Aopen 19CX1Q 18.5-inch LED Monitor</span>
                        </div>
                        <div class="categry_block_product_Id">
                            <span>44545</span>
                        </div>
                        <div class="categry_block_price">
                            <span>TK.22323</span>
                        </div>
                </a>
                
                    <div class="block-buy">
                        <button class="block-buy-now"> Buy Now</button>
                    </div>
              
                    <div class='block-buy-none'>
                        <span class='block-buy-now-none'></span>
                    </div>
                

            </div>
                      
                

            </div>  <div class="col-md-4 col-lg-4 category_zero">
            <div class="category_product">
               <a href="#">
                        <div class="category_image_block">
                            <img class="category-images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/monitor/acer/eb192q/eb192q-228x228.jpg" />
                         
                        </div>
                        <div class="categry_block_title">
                            <span>Acer Aopen 19CX1Q 18.5-inch LED Monitor</span>
                        </div>
                        <div class="categry_block_product_Id">
                            <span>44545</span>
                        </div>
                        <div class="categry_block_price">
                            <span>TK.22323</span>
                        </div>
                </a>
                
                    <div class="block-buy">
                        <button class="block-buy-now"> Buy Now</button>
                    </div>
              
                    <div class='block-buy-none'>
                        <span class='block-buy-now-none'></span>
                    </div>
                

            </div>
                      
                

            </div>  <div class="col-md-4 col-lg-4 category_zero">
            <div class="category_product">
               <a href="#">
                        <div class="category_image_block">
                            <img class="category-images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/monitor/acer/eb192q/eb192q-228x228.jpg" />
                         
                        </div>
                        <div class="categry_block_title">
                            <span>Acer Aopen 19CX1Q 18.5-inch LED Monitor</span>
                        </div>
                        <div class="categry_block_product_Id">
                            <span>44545</span>
                        </div>
                        <div class="categry_block_price">
                            <span>TK.22323</span>
                        </div>
                </a>
                
                    <div class="block-buy">
                        <button class="block-buy-now"> Buy Now</button>
                    </div>
              
                    <div class='block-buy-none'>
                        <span class='block-buy-now-none'></span>
                    </div>
                

            </div>
                      
                

            </div>  <div class="col-md-4 col-lg-4 category_zero">
            <div class="category_product">
               <a href="#">
                        <div class="category_image_block">
                            <img class="category-images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/monitor/acer/eb192q/eb192q-228x228.jpg" />
                         
                        </div>
                        <div class="categry_block_title">
                            <span>Acer Aopen 19CX1Q 18.5-inch LED Monitor</span>
                        </div>
                        <div class="categry_block_product_Id">
                            <span>44545</span>
                        </div>
                        <div class="categry_block_price">
                            <span>TK.22323</span>
                        </div>
                </a>
                
                    <div class="block-buy">
                        <button class="block-buy-now"> Buy Now</button>
                    </div>
              
                    <div class='block-buy-none'>
                        <span class='block-buy-now-none'></span>
                    </div>
                

            </div>
                      
                

            </div>  <div class="col-md-4 col-lg-4 category_zero">
            <div class="category_product">
               <a href="#">
                        <div class="category_image_block">
                            <img class="category-images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/monitor/acer/eb192q/eb192q-228x228.jpg" />
                         
                        </div>
                        <div class="categry_block_title">
                            <span>Acer Aopen 19CX1Q 18.5-inch LED Monitor</span>
                        </div>
                        <div class="descriptions">
                         <ul><li>Type Led 18.5"
                        </li><li>Response Time 5 ms
                        </li><li>Standard Refresh Rate 60 Hz</li></ul>
                                                  </div>
                        <div class="categry_block_product_Id">
                            <span>44545</span>
                        </div>
                        <div class="categry_block_price">
                            <span>TK.22323</span>
                        </div>
                </a>
                
                    <div class="block-buy">
                        <button class="block-buy-now"> Buy Now</button>
                    </div>
              
                    <div class='block-buy-none'>
                        <span class='block-buy-now-none'></span>
                    </div>
                

            </div>
                      
                

            </div>
        </div>