<div class="container-fluid header-zero home-page-top-hook">
    <div class="row">
        <div class="column">
            <div class="container">
                <div class="row">

                    <div class="column">

                        <div class="col-sm-12 col-lg-12 top-hook-container header-zero">
                            <ul class="top-hook-nav">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">My Wishlist</a></li>
                                <li><a (click)="loginRedirect()">Log In</a></li>
                                <li><a (click)="registerRedirect()">Register</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid header-zero home-page-top-bar">
    <div class="row">
        <div class="column">
            <div class="container">
                <div class="row">

                    <div class="column">
                        <div class="header-logo-search-wrapper">

                            <div class="col-sm-12 col-lg-2 col-md-2 header-zero logo-wrapper">
                                <div class="logo-banner">
                                    <img src="https://www.techrepublicbd.com/public/uploads/logo/TqVN80yu0Z7HrjkdDhmF3ALxxbTJzYOZlmTTc6n5.png" />
                                </div>
                            </div>

                            <div class="col-sm-12 col-lg-8 col-md-8 header-zero search-bar-wrapper">
                                <div class="search-wrapper">
                                    <input type="text" class="search-box" placeholder="Search products" />
                                    <button class="search-button">
                                        <span class="searchTextSpan">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                            Search
                                        </span>
                                    </button>
                                </div>
                            </div>

                            <div class="col-sm-12 col-lg-2 col-md-2 header-zero account-wrapper">
                                <div class="myAccountTab ">
                                    <span class="accountUserName"><a href="/Customer">Sign In</a></span>
                                    <span class="accountUserImg" onclick="accountShowHide()">
                                        <i class="fa fa-user human-icon" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <div id="account-dropDown" style="display:none;">
                                    <ul class="dropdown-menu-account dropdown-menu">
                                        <li><a href="#">Your Account</a></li>
                                        <li><a href="#">Your Order</a></li>
                                        <li><a href="#">Shortlist</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/Customer/Registration">Register</a></li>
                                    </ul>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
