<div class="col-md-12 col-lg-12 zero">
        <div class="deal-detail-image-block">
            <div class="deal-detail-hover-image-wrapper zoom"  id="ex1" >
                <img  src="https://www.startech.com.bd/image/cache/catalog/Accessories/keyboard/gamdias/hermes-p1a/hermes-p1a-1-500x500.jpg" data-zoom-image="https://www.startech.com.bd/image/cache/catalog/Accessories/keyboard/gamdias/hermes-p1a/hermes-p1a-1-500x500.jpg"/>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-lg-12 zero">
        <div class="deal-detail-thumbnel-image-block">
            <div class="deal-detail-thumbnel-image-wrapper">
              
                 <div class="col-md-4 col-lg-4 zero">                                            
                      <div class="deal-detail-thumbnel-image">
                            <a href="#">
                               <img class="images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/Accessories/keyboard/gamdias/hermes-p1a/hermes-p1a-3-500x500.jpg" />
                                       </a> 
                                   </div>                                             
                    </div>
                     <div class="col-md-4 col-lg-4 zero">                                            
                      <div class="deal-detail-thumbnel-image">
                            <a href="#">
                               <img class="images-thumbnail" src="https://www.startech.com.bd/image/cache/catalog/Accessories/keyboard/gamdias/hermes-p1a/hermes-p1a-2-74x74.jpg" />
                                       </a> 
                                   </div>                                             
                    </div>

                  
            </div>
        </div>
    </div>

