
    <div class="page-section">
        <div class="section-head">
            <h1><span>2</span>Payment Method</h1>
        </div>
        <p>Select a payment method</p>
        <label class="radio-inline">
            <input type="radio" name="payment_method" value="cod" checked="checked">
            Cash on Delivery
        </label>
         <div>
              <label class="radio-inline">
            <input type="radio" name="payment_method" value="ops">
            Online payment
        </label>
        </div>
      
        <div class="accepted-logo">
            <h5>We Accepted : </h5>
            <a href="#"><img class="logo logo-visa" src="catalog/view/theme/koyla/image/card-logo.png"></a>
            <div class="clear"></div>
        </div>
    </div>
