<div class="col-md-12 col-lg-12 zero">
    <div class="deal-detaile-wrapper">
        <span class="deal-detail-title-text">Gamdias HERMES P1A Mechanical RGB Gaming Keyboard</span>
    </div>

    <div class="deal-detaile-wrapper">
        <div class="deal-detail-regular-price">
             <span>Tk. 5,300</span>
        </div>
        <div class="deal-detail-discount-price-wrapper">                              
             <span class="deal-detail-discount-price"> Tk.5,200</span>
             <span class="pdpDiscount"><span>10</span>% OFF</span>
        </div>
    </div>
      <div class="deal-detaile-wrapper">
       <div class="stars">
        <span class="fa fa-star"></span>
        <span class="fa fa-star"> </span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      <a href="javascript:void(0)" class="customers-rating"> 1 reviews </a>
     </div>
    </div>
    <div class="deal-detaile-wrapper">
       
        <table class="product-info-table">
            <tbody><tr class="product-info-group">
                <td class="product-info-label">Price</td>
                <td class="product-info-data product-price">5,300৳</td>
            </tr>
                                            <tr class="product-info-group">
                <td class="product-info-label">Status</td>
                <td class="product-info-data product-status">In Stock</td>
            </tr>
            <tr class="product-info-group">
                <td class="product-info-label">Product Code</td>
                <td class="product-info-data product-code">11956</td>
            </tr>
            <tr class="product-info-group" itemprop="brand" itemtype="http://schema.org/Thing" itemscope="">
                <td class="product-info-label">Brand</td>
                <td class="product-info-data product-brand" itemprop="name">GAMDIAS</td>
            </tr>
             </tbody>
         </table>
    </div>

    <div class="deal-detaile-wrapper">
        <div class="quantity-wrapper">
                <input value="-" class="minus" type="button" onclick="decreaseMe()">
                <span class="qty">1</span>
                <input value="+" class="plus" type="button" onclick="increaseMe()">                               
        </div>
        <div class="product-buy-now-wrapper">
                <div class="product-buy-now">
                    <span>buy now</span>
                </div>
        </div>
        <div class="product-add-to-cart-wrapper">
                <div class="product-add-to-cart">
                    <span> Add to cart</span>
                </div>
        </div>
          <div class="product-add-to-wishlist-wrapper">
                <div class="product-add-to-wishlist">
                   <i class="fa fa-heart" aria-hidden="true"></i>
                </div>
        </div>
    </div>

    <div class="deal-detaile-wrapper">
        <a href="#">
            <div class="add-to-compare-wrapper">
                <i class="fa fa-square-o" aria-hidden="true"></i>
                <span>Add To Compare</span>
            </div>
        </a>
          <a href="#">
            <div class="add-to-emi-wrapper">
                <i class="fa fa-square-o" aria-hidden="true"></i>
                <span>Avail EMI Offer</span>
            </div>
        </a>
    </div>

             <div class="deal-detaile-wrapper">
   
                <div id="share" class="jssocials"><div class="jssocials-shares"><div class="jssocials-share jssocials-share-email"><a target="_self" href="#" class="jssocials-share-link"><i class="fa fa-at jssocials-share-logo"></i></a></div><div class="jssocials-share jssocials-share-twitter"><a target="_blank" href="#" class="jssocials-share-link"><i class="fa fa-twitter jssocials-share-logo"></i></a></div><div class="jssocials-share jssocials-share-facebook"><a target="_blank" href="#" class="jssocials-share-link"><i class="fa fa-facebook jssocials-share-logo"></i></a></div>
                <div class="jssocials-share jssocials-share-whatsapp"><a target="_self" href="#" class="jssocials-share-link"><i class="fa fa-whatsapp jssocials-share-logo"></i></a></div></div></div>
            
       
    </div>
</div>