<div class="related-product-wrapper">
    <div class="related-product-header-wrapper">
        <h3>Related Product</h3>
         </div>
        <section class="related-product-list">
                                    <div class="single-related-product-item">
                <div class="image-holder">
                    <a href="https://www.startech.com.bd/gamdias-hermes-p1-keyboard"><img src="https://www.startech.com.bd/image/cache/catalog/accessories/keboard/gamdias/gamdias-p1-80x80.jpg" alt="Gamdias Hermes P1 RGB Gaming Keyboard"></a>
                </div>
                <div class="caption">
                    <h4 class="product-name">
                        <a href="https://www.startech.com.bd/gamdias-hermes-p1-keyboard">Gamdias Hermes P1 RGB Gaming Keyboard</a>
                    </h4>
                    <div class="price">
                        <b><span>6,000৳</span></b>
                    </div>
                </div>
            </div>
                                    <div class="single-related-product-item">
                <div class="image-holder">
                    <a href="https://www.startech.com.bd/gamdias-hermes-p2-rgb-keyboard"><img src="https://www.startech.com.bd/image/cache/catalog/keyboard/gamdias/hermes-p2/hermes-p2-01-80x80.jpg" alt="Gamdias HERMES P2 RGB Mechanical Gaming Keyboard"></a>
                </div>
                <div class="caption">
                    <h4 class="product-name">
                        <a href="https://www.startech.com.bd/gamdias-hermes-p2-rgb-keyboard">Gamdias HERMES P2 RGB Mechanical Gaming Keyboard</a>
                    </h4>
                    <div class="price">
                        <b><span>5,700৳</span></b>
                    </div>
                </div>
            </div>
                                    <div class="single-related-product-item">
                <div class="image-holder">
                    <a href="https://www.startech.com.bd/rapoo-v500-mechanical-gaming-keyboard"><img src="https://www.startech.com.bd/image/cache/catalog/keyboard/rapoo/v500/v500-80x80.jpg" alt="Rapoo V500 (RGB Full Size) Backlit Mechanical Gaming Keyboard (Full Size)"></a>
                </div>
                <div class="caption">
                    <h4 class="product-name">
                        <a href="https://www.startech.com.bd/rapoo-v500-mechanical-gaming-keyboard">Rapoo V500 (RGB Full Size) Backlit Mechanical Gaming Keyboard (Full Size)</a>
                    </h4>
                    <div class="price">
                        <b><span>4,350৳</span></b>
                    </div>
                </div>
            </div>
                                    <div class="single-related-product-item">
                <div class="image-holder">
                    <a href="https://www.startech.com.bd/gamdias-hermes-p1a-gaming-keyboard"><img src="https://www.startech.com.bd/image/cache/catalog/Accessories/keyboard/gamdias/hermes-p1a/hermes-p1a-1-80x80.jpg" alt="Gamdias HERMES P1A Mechanical RGB Gaming Keyboard"></a>
                </div>
                <div class="caption">
                    <h4 class="product-name">
                        <a href="https://www.startech.com.bd/gamdias-hermes-p1a-gaming-keyboard">Gamdias HERMES P1A Mechanical RGB Gaming Keyboard</a>
                    </h4>
                    <div class="price">
                        <b><span>5,300৳</span></b>
                    </div>
                </div>
            </div>
       </section>

    </div>