<div class="container footer_zero">
    <div class="row">
        <div class="column">
            <div class="col-md-12 col-lg-12">
                <div class="footer_wrapper">
                    <div class="footer_first"></div>
                    <div class="footer_content">
                        <div class="col-md-3 col-lg-3 footer_content_portion">
                            <div class="customer-footer-wrapper">
                                <h4>Information</h4>
                                <ul>
                                    <li>
                                        <i class="fa fa-caret-right"></i>
                                        <a href="#">Service Policy</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-caret-right"></i>
                                        <a href="#">Privacy Policy</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-caret-right"></i>
                                        <a href="#">Terms & Conditions</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-caret-right"></i>
                                        <a href="#">Returns & refunds rules</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 footer_content_portion">
                            <div class="customer-footer-wrapper">
                                <h4>Account</h4>
                                <ul>
                                    <li>
                                        <i class="fa fa-caret-right"></i>
                                        <a href="#">Account</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-caret-right"></i>
                                        <a href="#">Order History</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-caret-right"></i>
                                        <a href="#">Wish List</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 footer_content_portion">
                            <div class="customer-footer-wrapper">
                                <h4>Customer Service</h4>
                                <ul>
                                    <li>
                                        <i class="fa fa-caret-right"></i>
                                        <a href="#">Contact Us</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-caret-right"></i>
                                        <a href="#">Returns</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-caret-right"></i>
                                        <a href="#">Site Map</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 footer_content_portion">
                            <div class="customer-footer-wrapper">
                                <h4>About Us</h4>
                                <ul>
                                    <li>
                                        <i class="fa fa-caret-right"></i>
                                        <a href="#">About Us</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-caret-right"></i>
                                        <a href="#">Warranty</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-caret-right"></i>
                                        <a href="#">Payment Method</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="copy_right_reserved">©Copyright 2020.All Rights Reserved.</div>
                    <div class="footer_last"></div>
                </div>
            </div>
        </div>
    </div>
</div>