
    <div class="page-section">
        <div class="section-head">
            <h1><span>1</span>Billing Information</h1>
        </div>
        <div class="address">
            <div class="form-group">
                <input class="form-control" name="Billing Name" type="text" id="input-Billing Name" value="" placeholder="Enter billing name*">
           </div>
            <div class="form-group">
                <textarea class="form-control" id="input-address" name="address_1" value="" placeholder="Enter Billing Address*" rows="6"></textarea>
                                            </div>
           <div class="form-group">
               <input type="tel" id="input-telephone" name="telephone" value="" class="form-control" placeholder="Telephone*">
                                          </div>
            <div class="form-group">
                <input type="email" id="input-email" name="email" value="" class="form-control" placeholder="E-Mail*">
                                            </div>
        </div>
    </div>
