<div class="col-md-12 col-sm-12">
    <div class="page-section">
        <div class="section-head">
            <h1><span>4</span>Order Summary</h1>
        </div>
        <table class="koyla-table bg-white checkout-data">
            <thead>
            <tr>
                <td>Product Name</td>
                <td class="rs-none">Unit Price</td>
                <td class="rs-none">Quantity</td>
                <td>Total</td>
            </tr>
            </thead>
            <tbody>
                                                <tr>
                <td class="name">
                    <a href="/product/product&amp;product_id=12683">Lian Li LANCOOL II RGB ATX Mid Tower Gaming Case (Black)</a>
                    <div class="options">
                                                                    </div>
                </td>
                <td class="rs-none">8,500৳   </td>
                <td class="rs-none">1   </td>
                <td class="price text-right">8,500৳   </td>
            </tr>
                                                                                    <tr>
                <td colspan="3" class="text-right"><strong>Sub-Total:</strong></td>
                <td class="text-right">8,500৳</td>
            </tr>
                                                <tr>
                <td colspan="3" class="text-right"><strong>Flat Shipping Rate:</strong></td>
                <td class="text-right">50৳</td>
            </tr>
                                                <tr>
                <td colspan="3" class="text-right"><strong>Total:</strong></td>
                <td class="text-right">8,550৳</td>
            </tr>
                                                </tbody>
        </table>
    </div>
                                <div class="pull-right" style="margin-bottom: 10px">I have read and agree to the <a href="https://www.startech.com.bd/warranty-policy" target="_blank"><b>Terms and Conditions (Warranty Policy)</b></a>, <a href="https://www.startech.com.bd/privacy" target="_blank"><b>Privacy Policy</b></a> and <a href="https://www.startech.com.bd/refund-policy" target="_blank"><b>Refund and Return Policy</b></a>                                                                <input type="checkbox" name="agree" value="1" checked="checked">
                                    </div>
                                <div class="clearfix"></div>
    <button style="margin-bottom: 20px" id="button-confirm" class="btn submit-btn pull-right" type="submit">Confirm Order</button>
</div>