<div class="category_product_block">
    <div class="col-md-1 col-lg-1 view_wrapper">
        <div class="view_button">
            <a id="view_thum" href="javascript:void(0)">
                <img src="../../images/icon/grid.png">
            </a>
            <a id="view_list" href="javascript:void(0)">
                <img src="../../images/icon/list.png">
            </a>
        </div>
    </div>

    <div class="col-md-3 col-lg-3 sort_by_wrapper">
        <div class="dropdown sort_dropdown">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-split customized-button" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span> Sort By </span> 
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" data-sort="asc" onclick="getProductByPriceFilter('asc')">Price Low To High</a></li>
                <li><a href="#" data-sort="desc" onclick="getProductByPriceFilter('desc')">Price High To Low</a></li>
                <li><a href="#" data-index="3">Fresh Arrivals</a></li>
            </ul>
        </div> 
    </div>
</div>