<div class="col-md-3 col-lg-3 category_zero" style="border: 1px solid #e1e1e1;">
    <div class="filter_text_wrapper">
        <i class="fa fa-filter" aria-hidden="true"></i>
        <span>Filter By</span>
    </div>

    <div class="filter-conainer">
        <span>Brand</span>
    </div>

    <div class="brand-name-wrapper">
        <ul class="brand-name-list">
            <li class="brand-name-list-items">
                <input class="check-shopby" value="1" type="checkbox">
                <a title="Acer" class="" href="javascript:void(0)">
                    Acer
                    <span class="item-count">55</span>
                </a>
            </li>
            <li class="brand-name-list-items">
                <input class="check-shopby" value="2" type="checkbox">
                <a title="Acer" class="" href="javascript:void(0)">
                    Acer
                    <span class="item-count">55</span>
                </a>
            </li>
        </ul>

    </div>
</div>
